
html{
    scroll-behavior: smooth;
    // ::-webkit-scrollbar{
    //     display: none;
    // }
}
body {
    caret-color: gold;
    position: relative;
    color: $F-bgprimary;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div>img{
    display: block;
    width: 100%;
    height: 100%;
}
a{
    color: $F-bgprimary;
}
