
$F-hrborder : #D9B08C;
//border
$F-border : 1px solid rgba(44, 53, 49, 1);
$F-rounded : 10px;

//fonts
$F-txt-size-zeronegative : 8px;
$F-txt-size-zeroplusplus : 10px;
$F-txt-size-zeroplus : 12px;
$F-txt-size-zero : 14px;
$F-txt-size-primary : 16px;
$F-txt-size-secondary : 18px;
$F-txt-size-tertiary : 20px;
$F-txt-size-quaternary : 22px;
$F-txt-size-quinary : 24px;
$F-txt-size-senary : 26px;
$F-txt-size-septenary : 28px;
$F-txt-size-octonary : 30px;
$F-txt-size-nonary : 32px;
$F-txt-size-denary : 34px;



//shadow  
$F-shadow-box : 0 0 5px 5px #D1E8E2;



//pallet 1
$F-bgprimary : #5D5C61;
$F-bgsecondary : #B79683;
$F-bgtertiary : #7395AE;
$F-bgquaternary : #557A95;
$F-bgquinary : #B1A296;


//pallet 2
// $F-bgprimary : #687864;
// $F-bgsecondary : #31708E;
// $F-bgtertiary : #5085A5;
// $F-bgquaternary : #8FC1E3;
// $F-bgquinary : #F7F9FB;


//pallet 3
// $F-bgprimary : #2c3531;
// $F-bgsecondary : #116466;
// $F-bgtertiary : #D9B08C;
// $F-bgquaternary : #FFCB9A;
// $F-bgquinary : #D1E8E2;
